body{
    margin: 0;
    background-color: rgb(216, 213, 213);
}
.nav{
    background-color: rgb(35, 23, 139);
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input{
    font-size: 2vw;
    border-radius: 5%;
}
#search-btn{
    font-size: 2vw;
    background-color: rgb(255, 115, 0);
    border: none;
    border-radius: 5%;
}

.main{
    padding: 2% 15%;
    background-color: rgb(216, 213, 213);
}
.tabs{
    display: flex;
    /* margin-bottom: 1%; */
}
.tab{
    font-size: 2vw;
    background-color: white;
    margin-right: 1%;
    padding: 1% 2%;
}

.movie-card{
    background-color: white;
    display: flex;
    margin-bottom: 2%;
}

.movie-card .left{
    flex:1;
}

.movie-card .left img{
    width: 100%;
    padding: 2% 0%;
}

.movie-card .right{
    flex:3;
    padding: 1% 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right .title{
    font-weight: bold;
    font-size: 1.8vw;
}

.right .plot{
    font-size: 1.5vw;
}

.footer{
    font-size: 1.5vw;
    display: flex;
    justify-content: space-between;
}
.rating{
    font-weight: 500;
}

.fav-btn,.unfav-btn{
    background-color: rgb(49, 118, 247);
    color: white;
    border: none;
    border-radius: 5%;
    padding: 2%;
    font-size: 1.6vw;
}
.unfav-btn{
    background-color: rgb(250, 37, 37);
}

.no-movie{
    color: rgb(107, 107, 107);
    font-size: 3vw;
    padding: 4% 0% 0% 2%;
}

.active-tab{
    background-color: rgb(42, 42, 255);
    color: white;
}

.search-result{
    background-color: white;
    display: flex;
    border: 1px solid black;
}

.search-result .left{
    flex:1;
}

.search-result .left img{
    width: 100%;
    padding: 2% 0%;
}

.search-result .right{
    flex:3;
    padding: 1% 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.search-result .right span{
    font-weight: 600;
    font-size: 2vw;
}

.search-result .right button{
    width: 40%;
    font-size:1.8vw;
    color: white;
    background-color: rgb(18, 85, 1);
    border: 0;
    padding: 2%;
    border-radius: 5%;
}